<!DOCTYPE html>
<html lang="fr">
  
  <head>
    <title>Connexion</title>
    <meta charset="utf-8">
  </head>
 
  <body>
        <!-- Formulaire de connexion -->
        <div>
          <form method="POST" action="/login-hacker">
            Login:
            <input type="text" id="login" required name="login"><br>
            Password:
            <input type="password" required name="password" id="password">
            <br><br>
            <input type="submit" value="Se Connecter" id="submit">
          </form>
        </div>
  </body>
</html>